
#divTitleTest{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 7rem;
    padding: 20px;
    border-radius: 8px;
    background-color: #DDE1CB /*#A1CEAA*/;
}

h2{
    height: 100%;
    width: 70%;
}

#divTitleSection, #divSectionProfile{
    color: #2A2C24;
    height: 100%;
    padding: 2px;
    border-radius: 5px;
    background-color: #bcdcc2c0;
    /*border: 1px solid black;*/
    /*border: 1px solid black;*/
}

#options{
    display: flex;
    justify-content: space-between;
}
#divBtnPrevious{
    display: flex;
    justify-content: end;
    
}
#divBtnNext{
    display: flex;
    justify-content: start;
}

#divTextResult{
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

#textResult{
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  align-content: center;
  border-radius: 50%;
  background-color: #E8E19B;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #bbbbbb;
  }
  .step.current{
    background-color: rgb(4, 134, 167);
  }

